@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F9F9F9;
  --font-poppins: ${poppins.style.fontFamily};
}

body {
  font-family: var(--font-poppins), sans-serif;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;    
}

.Page {
  padding: 10px;
}

.chart-container {
  max-width: 800px;
  margin: 0 auto;
}

.chart-controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

